<%- include('./container/start.ejs') %>
<tr>
  <td style="padding: 35px; box-sizing: border-box">
    <h1 style="
        color: #1c2233;
        font-weight: bold;
        font-family: 'DM Sans', sans-serif;
        font-size: 19px;
        text-align: left;
        box-sizing: border-box;
        margin-top: 0;
      ">
      Hello <%= username %>,
    </h1>
    <p style="
        color: #4e5d78;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 1.5em;
        text-align: left;
        margin-top: 0;
      ">
      <%= message %>
    </p>
    <table width="100%" align="center" cellpadding="0" cellspacing="0" role="presentation" style="
        box-sizing: border-box;
        margin: 30px auto;
        padding: 0;
        text-align: center;
        width: 100%;
      ">
      <tbody>
        <tr>
          <td align="center" style="box-sizing: border-box">
            <table style="box-sizing: border-box">
              <tbody>
                <tr>
                  <td align="center" style="box-sizing: border-box">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                      style="box-sizing: border-box">
                      <tbody>
                        <tr>
                          <td style="box-sizing: border-box">
                            <a href="<%= notificationLink %>" target="_blank" style="
                                font-family: 'DM Sans',
                                  sans-serif;
                                box-sizing: border-box;
                                border-radius: 4px;
                                color: #ffffff;
                                display: inline-block;
                                font-weight: 500;
                                text-decoration: none;
                                background-color: #6400ff;
                                border-top: 12px solid
                                  #6400ff;
                                border-right: 20px solid
                                  #6400ff;
                                border-bottom: 12px solid
                                  #6400ff;
                                border-left: 20px solid
                                  #6400ff;
                              ">View</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <p style="
      font-family: 'Inter' , sans-serif;
      box-sizing: border-box;
      color: #4e5d78;
      font-size: 16px;
      line-height: 1.5em;
      margin-top: 0;
      text-align: left;
    ">
      Regards,<br />
      GitDev Team
    </p>
  </td>
</tr>
<%- include('./container/end.ejs') %>
